<div class="column-group horizontal-gutters">
  <div class="all-33 market-detail align-center">
    <div class="flagger">
      <i class="fa fa-leaf"></i>
      <% unless current_user.nil? %>
        <% if is_flagged? %>
          <p class="small-content">You've flagged this market</p>
          <%= form_tag flag_path, method: "delete" do %>
            <%= hidden_field_tag :market_id, market.id %>
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= submit_tag "Unflag It", class: "flag-btn" %>
          <% end %>
          <% else %>
          <p class="small-content">Flag this market to get updates on your profile page.</p>
            <%= form_tag flag_path do %>
              <%= hidden_field_tag :market_id, market.id %>
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= submit_tag "Flag It", class: "flag-btn" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <div class="all-33 market-detail align-center">
    <i class="fa fa-leaf"></i>
    <p class="small">Featured Products</p>
    <p class="medium-content"><%= market.products %></p>
  </div>
  <div class="all-33 market-detail align-center">
    <i class="fa fa-leaf"></i>
    <p class="small">Address</p>
    <p class="medium-content"><%= market.full_address %></p>
  </div>
</div>

