<div class="column-group">
  <div class="all-100">
    <p class="listing-sub">We have Food Available Now!</p>
  </div>
</div>

<% market.listings.each do |listing| %>
  <div class="column-group">
    <div class="all-5"></div>
    <div id="listing" class="all-90">
      <h2 class="market-listing"><%= listing.name %></h2>
      <p class="medium-content">Harvested on: <%= listing.harvest_date %></p>
      <p class="small-content"><%= listing.description %></p>
      <%= image_tag listing.image.url(:listing) %>

        <p class="small-content">Interested in making a deal for this listing?</p>

        <p class="small-content">Enter your email to contact the market owner</p>
      <div class="ink-form search-form">
        <div class="control-group">
          <div class="control">
            <%= form_tag contact_path, method: :get do %>
              <%= hidden_field_tag :listing_id, listing.id %>
              <%= text_field_tag :contact_email, params[:contact_email], placeholder: "Email", class: "center-input" %><br>
              <%= submit_tag "Contact Market Owner", class: "search-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="all-5"></div>
  </div>
<% end %>

