<% @markets.each do |market| %>
  <% if farmers_market?(market) %>
  <div class="column-group">
    <div class="all-5"></div>
    <div id="listing" class="all-90 farmers">
    <i class="fa fa-leaf fa-1x green"></i>
      <h3><%= clean_name(market.marketname) %></h3>
      <p class="small-content">Distance from <%= params[:zip] %>: <%= market.distance %> miles</p>
      <p class="small-content"><%= market.Address %></p>
      <div id="farmers-map">
        <iframe id="map" class="farmers-map" frameborder="0" style="border:0" src=<%= "https://www.google.com/maps/embed/v1/place?key=AIzaSyCzueOTNlgqagtZxGARWKl3M28HRnn57Fs&q=#{escape_address(market.Address)}" %>></iframe>
      </div>
      <p class="small-content"><%= "Schedule: #{market.Schedule}" if market.Schedule.presence %></p>
      <p class="small-content"><%= "Featuring: #{market.Products}" if market.Products.presence %></p>
    </div>
    <div class="all-5"></div>
  </div>

  <% elsif !market.listings.empty? %>
    <% market.listings.each do |listing| %>
      <div class="column-group">
      <div class="all-5"></div>
        <div id="listing" class="all-90">
          <i class="fa fa-leaf fa-1x green"></i>
          <h3><%= market.name %></h3>
          <p class="small-content">Distance from <%= params[:zip] %>: <%= market.distance.round(1) %> miles</p>
          <h2><%= listing.name %></h2>
          <p class="medium-content"><%= listing.description %></p>
          <%= image_tag listing.image.url(:listing) %>
          <p class="small-content">Checkout the market page for location information, more details and to contact the gardener.</p>
          <p><%= link_to "View Market Details", market_path(market.slug), class: "search-btn" %></p>
        </div>
      <div class="all-5"></div>
      </div>
    <% end %>
  <% end %>
<% end %>


