<% unless user.market.blank? %>
  <div class="column-group">
    <div class="all-100 align-center">
    <% if user.market.listings.active.empty? %>
      <div class="all-100 spaced">
        <p class="medium-content align-left">You don't have any active listings.</p>
        <p><%= link_to "Add a Listing", new_market_listing_path(user.market.slug), class: "listing-btn" %></p>
      </div>
    <% else %>
      <div id="user-market">
        <h3 class="align-right">Your Listings</h3>
      </div>
        <table class="ink-table">
          <thead>
            <tr>
              <th class="align-left"></th>
              <th class="align-left">Name</th>
              <th class="align-left">Description</th>
              <th class="align-left">Harvest Date</th>
              <th class="align-left"></th>
              <th class="align-left"></th>
            </tr>
          </thead>
          <tbody>
        <% user.market.listings.active.each do |listing| %>
          <tr>
            <td><%= image_tag listing.image.url(:thumb) %></td>
            <td><%= listing.name %></td>
            <td><%= listing.description %></td>
            <td><%= listing.harvest_date %></td>
            <td><%= link_to "Edit listing", edit_market_listing_path(user.market.slug, listing.id), class: "edit-link" %><br>
              <%= link_to "Sold/Remove", market_listing_path(user.market.slug, listing.id, listing: {active: false}), method: "put", class: "edit-link" %></td>
            <td>
            <%= form_tag tweet_path, method: :get do %>
              <%= hidden_field_tag :listing_id, listing.id %>
              <%= submit_tag "Tweet me", class: "flag-btn" %>
            <% end %>
            </td>
          </tr>
      <% end %>
          </tbody>
        </table>
      <p><%= link_to "Add a Listing", new_market_listing_path(user.market.slug), class: "listing-btn" %></p>
  <% end %>
  </div>
</div>
<% end %>


