<%= render partial: "partials/profile_header", locals: {:user => @user} %>

<div class="ink-grid results">

<a name="market"></a>
<%= render partial: "partials/user_market", locals: {:user => @user} %>

<a name="listings"></a>
<%= render partial: "partials/user_listings", locals: {:user => @user} %>

<% unless @user.flagged_markets.empty? %>
  <div class="column-group">
    <div class="all-100">
      <div id="user-market">
        <h3 class="align-right">Your Flagged Market Activity</h3>
      </div>
    </div>
  </div>
  <div id="user-listing" class="column-group horizontal-gutters">
<a name="flags"></a>
      <% @user.flagged_markets.each do |market| %>
        <div class="all-50 align-center spaced">
          <h4>Market: <%= market.name %></h4>
        <% market.listings.each do |listing| %>
          <p class="medium-content"><%= listing.name %></p>
          <p class="small-content"><%= listing.harvest_date %></p>

          <%= image_tag listing.image.url %>
        <% end %>
        <div class="spaced"></div>
          <p class="small"><%= link_to "View more details", market_path(market.slug), class:"user-listing-btn" %></p>
        <%= form_tag flag_path, method: "delete" do %>
          <%= hidden_field_tag :market_id, market.id %>
          <%= hidden_field_tag :user_id, @user.id %>
          <%= submit_tag "Unflag It", class: "flag-btn" %>
        <% end %>
      </div>
      <% end %>
<% end %>
</div>

<% if @user.market.blank? %>
  <div class="spacer">
  </div>
<% end %>

</div>
