<%= render partial: "partials/profile_header", locals: {:user => @user} %>

<div class="column-group">
  <% if @user.market.blank? %>
    <div class="all-75">
      <p class="medium-content">You haven't opened a market yet.</p>
      <p><%= link_to "Create a Market", new_market_path(@user.id), class: "listing-btn" %></p>
    </div>
  <% else %>
  <div class="all-75">
    <p><%= @user.market.name %></p>
    <p>More market details here</p>
  </div>
  <% end %>

  <div class="all-25 zip">
    <p class="medium-content">Twitter ID: <%= @user.uid %></p>
    <p class="medium-content">Location: <%= @user.location %></p>
    <p class="medium-content">Description: <%= @user.description %></p>
  </div>
</div>

<% if @user.market.blank? %>
  <div class="spacer">
  </div>
<% end %>





