<div id="salad-form">

  <%= form_for([:market, @listing], html: {multipart: true, class: "ink-form"}) do |f| %>
    <% if @listing.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this market from being saved:</h2>

        <ul>
        <% @listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="column-group">
      <div class="control-group required all-50">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="control-group required all-50">
        <%= f.label :harvest_date %><br>
        <%= f.date_select :harvest_date %>
      </div>
      <div class="control-group required all-50">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "control" %>
      </div>
      <div class="control-group required all-50">
        <%= f.label :image, "Attach an Image" %><br />
        <%= f.file_field :image, class: "ink-button" %>
      </div>
      <div class="all-10"></div>
      <div class="control-group all-80">
        <%= f.submit class: "salad-btn" %>
      </div>
      <div class="all-10"></div>
    </div>
  <% end %>
</div>
