<h1>Editing <%= @listing.name %> for <%= current_market.name %></h1>

<%= form_tag({controller: "listings", action: "update"}, method: "put", multipart: true) do %>
  <div>
    <%= label_tag(:name) %>
    <%= text_field(:listing, :name) %>
  </div>
  <div>
    <%= label_tag(:description) %>
    <%= text_field(:listing, :description) %>
  </div>
  <div>
    <%= label_tag(:harvest_date) %>
    <%= date_field(:listing, :harvest_date) %>
  </div>
  <p>
    <% if  @listing.image.exists? %>
      <%= image_tag @listing.image.url %><br />
    <% end %>
    <%= label_tag(:image, "Attach an Image") %><br />
    <%= file_field(:listing, :image) %>
  </p>


  <%= submit_tag %>
<% end %>


<ul>
  <li><%= link_to 'Show', market_path(@market.slug) %></li>
</ul>
