<div id="hero">
  <div class="ink-grid topper">

    <%= render partial: "partials/nav" %>

    <div id="home-notice"> <%= render partial: "partials/notice" %>
    </div>

    <div class="column-group">
      <div class="all-100">
        <div id="tagline">
          <hgroup>
          <h3>Fullfill Your</h3>
          <h2>Lust for Leaf</h2>
          <form class="ink-form search-form">
            <div class="control-group">
              <label for="zipcode">Find Local Food</label>
              <div class="control">
                <%= form_tag markets_path, method: :get do %>
                  <%= label_tag :zip  %>
                  <%= text_field_tag :zip, params[:zip] %>
                  <%= submit_tag "Search" %>
                <% end %>

                <form accept-charset="UTF-8" action="/markets" method="get">
                  <input name="utf8" type="hidden" value="&#x2713;" />
                  <label for="zip">Search for:</label>
                  <input id="zip" name="zip" type="text" />
                  <input name="commit" type="submit" value="Search" />
                </form>

              </div>
            </div>
          </form>
          </hgroup>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="content-1" class="ink-grid">
  <div class="column-group">
    <div class="all-25"></div>
    <div class="all-50">
      <i class="fa fa-leaf fa-2x"></i>
      <p class="medium-content">Salad Days is dedicated to connecting local people with local food sources. From farmer's markets, to co-ops, to backyard gardens, we'll help you eat with the seasons.</p>
    </div>
    <div class="all-25"></div>
  </div>
</div>
