<div id="hero">
  <div class="ink-grid topper">

    <%= render partial: "partials/nav" %>

    <div id="home-notice">
      <%= render partial: "partials/notice" %>
    </div>

    <div class="column-group">
      <div class="all-100">
        <div id="home-notice">
          <%= render partial: "partials/notice" %>
        </div>
        <div id="tagline">
          <hgroup>
          <h3>Fullfill Your</h3>
          <h2>Local Food For Local You</h2>
          <div class="ink-form search-form">
            <div class="control-group">
              <div class="control">
                <%= render partial: "partials/search_form" %>
              </div>
            </div>
          </div>
          </hgroup>
        </div>
      </div>
    </div>

  </div>
</div>

<%= render partial: "partials/home_content" %>
