<h1>Search Results</h1>
<% @markets.each do |market| %>
  <% market.listings.each do |listing| %>
    <div class="column-group horizontal-gutters">
      <div class="all-40">
        <h3 class="listing-text"><%= market.name %></h3>
        <h2 class="listing-text"><%= listing.name %></h2>
        <%= listing.description %>
        <p><%= link_to "View Market Details and Location", market_path(market.slug) %></p>
      </div>
      <div class="all-60">
        <%= image_tag listing.image.url(:listing) %>
      </div>
    </div>
  <% end %>
<% end %>
