<div id="sub-line" class="column-group">
  <div class="all-75">
    <h2>Search Results</h2>
  </div>
  <div class="all-25 zip">
    <% if successful_search? %>
      <h5>Results for <%= params[:zip] %></h5>
    <% else %>
      <div id="page-form" class="ink-form">
        <div class="control-group">
          <div class="control">
            <%= render partial: "partials/search_form" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <% if empty_search? %>
    <h5>No results found for the zipcode: <%= params[:zip] %>. Please try another zip code.
    <% end %>

<% @markets.each do |market| %>
  <% market.listings.each do |listing| %>
    <div class="column-group">
      <div id="listing">
        <div class="all-30">
          <h3><%= market.name %></h3>
          <h2><%= listing.name %></h2>
          <p class="medium-content"><%= listing.description %></p>
          <p class="small-content">Checkout the market page for location information, more details and to contact the gardener.</p>
          <p><%= link_to "View Market Details", market_path(market.slug), class: "listing-btn" %></p>
        </div>
        <div class="all-60 righty">
          <%= image_tag listing.image.url(:listing) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
