<%= render partial: "partials/market_header", locals: {market: @market} %>

<div class="ink-grid results">

<%= render partial: "partials/market_details", locals: {market: @market} %>

<div class="column-group">
  <div class="all-100">
  <% if @market.image.exists? %>
    <%= image_tag @market.image.url %>
  <% end %>
  </div>
</div>

<hr>

<div class="column-group">
  <div class="all-100">
    <a name="map"></a>
    <iframe id="map" class="map" frameborder="0" style="border:0" src=<%= "https://www.google.com/maps/embed/v1/place?key=AIzaSyCzueOTNlgqagtZxGARWKl3M28HRnn57Fs&q=#{@market.escape_address}" %>></iframe>
  </div>
</div>

<hr>

<% unless @market.listings.empty? %>

  <a name="listings"></a>
  <%= render partial: "partials/market_listings", locals: {market: @market} %>

<% end %>
</div>
