<div id="sub-line" class="column-group">
  <div class="all-75">
    <h2><%= @market.name.titleize %></h2>
  </div>
  <div class="all-25 zip">
    <nav id="my-sticky" class="ink-navigation ink-sticky" data-offset-top="500">
      <ul class="market-nav pagination pills">
        <li class="small"><a href="market-info">Market Info</a></li>
        <li class="small"><a href="map">Map</a></li>
        <li class="small"><a href="#listings">Listings</a></li>
      </ul>
    </nav>
  </div>
</div>

  <a name="market-info"><h4>Market Info</h4></a>
  <div class="column-group">
    <div class="all-30">
      <p><%= @market.full_address %></p>
      <p><%= @market.schedule %></p>
      <p><%= @market.products %></p>
    </div>
    <div class"all-80 righty">
    <% if @market.image.exists? %>
      <%= image_tag @market.image.url(:hero) %>
    <% else %>
      <%= image_tag @market.image.url %>
    <% end %>
    </div>
      </div>

  <a name="market-info"><h4>Market Info</h4></a>
  <div class="column-group">
    <div class="all-100">
      <div class="map">
        <iframe id="map" class="map" frameborder="0" style="border:0" width="100%" height="100%" src=<%= "https://www.google.com/maps/embed/v1/place?key=AIzaSyCzueOTNlgqagtZxGARWKl3M28HRnn57Fs&q=#{@market.escape_address}" %>></iframe>
      </div>
    </div>
  </div>

<% unless @market.listings.empty? %>
  <a name="listings"><h4>Listings</h4></a>
  <% @market.listings.each do |listing| %>
  <div class="column-group">
    <div id="listing">
      <div class="all-20">
        <h2><%= listing.name %></h2>
        <p class="medium-content">Harvested on: <%= listing.harvest_date %></p>
        <p class="small-content"><%= listing.description %></p>
        <p class="medium-content">Contact the market owner about this listing</p>
      </div>
      <div class="all-60 righty">
        <%= image_tag listing.image.url(:listing) %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>



<script>
    // Not required when using autoload.js
    Ink.requireModules( ['Ink.UI.Sticky_1'], function( Sticky ){
        new Sticky('#my-sticky')
    });
</script>
