<div id="sub-line" class="column-group">
  <div class="all-100">
    <p class="market-sub"><%= @market.name.titleize %></p>
  </div>
</div>

  <a name="market-info"></a>
  <div class="column-group">
    <div class="all-25"></div>
    <div class="all-50">
      <div class="align-center">
        <i class="fa fa-leaf"></i>
          <p class="medium-content"><%= @market.full_address %></p>
          <p class="medium-content"><%= @market.schedule %></p>
          <p class="medium-content">Featuring <%= @market.products %></p>
          <hr>
      </div>
    </div>
    <div class="all-25"></div>
  </div>

  <div class="column-group">
    <div class="all-45 market-bg">
    <% if @market.image.exists? %>
      <style>
        .market-bg {
          background-image: url('<%= @market.image.url(:listing) %>');
          background-repeat: no-repeat;
        }
      </style>
    <% else %>
      <%= image_tag @market.image.url %>
    <% end %>
    </div>
    <div class="all-55">
      <iframe id="map" class="map" frameborder="0" style="border:0" src=<%= "https://www.google.com/maps/embed/v1/place?key=AIzaSyCzueOTNlgqagtZxGARWKl3M28HRnn57Fs&q=#{@market.escape_address}" %>></iframe>
    </div>
  </div>

  <hr>
<% unless @market.listings.empty? %>
  <div class="column-group">
    <div class="all-25">
      <p class="listing-sub">Available Now</p>
    </div>
    <div class="all-75"></div>
  </div>

  <% @market.listings.each do |listing| %>
  <div class="column-group">
    <div class="all-5"></div>
    <div id="listing">
      <div class="all-25">
        <h2 class="market-listing"><%= listing.name %></h2>
        <p class="medium-content">Harvested on: <%= listing.harvest_date %></p>
        <p class="small-content"><%= listing.description %></p>
        <p class="medium-content">Contact the market owner about this listing</p>
        <%= link_to "Email Owner", search_results_path, class: "listing-btn" %>
      </div>
      <div class="all-65 righty">
        <%= image_tag listing.image.url(:listing) %>
      </div>
    <div class="all-5"></div>
    </div>
  </div>
  <% end %>
<% end %>

