<div id="sub-line" class="column-group">
  <div class="all-100">
    <p class="market-sub"><%= @market.name.titleize %></p>
  </div>
</div>

<div class="column-group">
  <div class="all-25"></div>
  <div class="all-50">
    <div class="align-center">
      <div class="flagger">
        <i class="fa fa-leaf"></i>
        <%= link_to "Flag It", market_path(@market.slug) %>
        <i class="fa fa-leaf"></i>
      </div>
      <p class="medium-content"><%= @market.full_address %></p>
      <p class="medium-content"><%= @market.schedule %></p>
      <p class="medium-content">Featuring <%= @market.products %></p>
      <hr>
    </div>
  </div>
  <div class="all-25"></div>
</div>

  <div class="column-group">
    <div class="all-45 market-bg">
    <% if @market.image.exists? %>
      <style>
        .market-bg {
          background-image: url('<%= @market.image.url(:listing) %>');
          background-repeat: no-repeat;
        }
      </style>
    <% else %>
      <%= image_tag @market.image.url %>
    <% end %>
    </div>
    <div class="all-55">
      <iframe id="map" class="map" frameborder="0" style="border:0" src=<%= "https://www.google.com/maps/embed/v1/place?key=AIzaSyCzueOTNlgqagtZxGARWKl3M28HRnn57Fs&q=#{@market.escape_address}" %>></iframe>
    </div>
  </div>

  <hr>
<% unless @market.listings.empty? %>

  <%= render partial: "partials/market_listings", locals: {market: @market} %>

<% end %>

