<!DOCTYPE html>
<html>
<head>
  <title>Salad::Days</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="site-nav sticky">
  <div class="ink-grid topper">
    <%= render partial: "partials/site_nav" %>
  </div>
</div>

<div class="ink-grid results">
  <%= yield %>
</div>

  <%= render partial: "partials/footer" %>
</body>
</html>
