<!DOCTYPE html>
<html>
<head>
  <title>Salad::Days</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= render partial: "partials/footer" %>
</body>
</html>
